<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/Frame 1@2x.png" />
    <title>FixPoint</title>
    <link rel="stylesheet" href="/Files/preowned/preowned.css" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>  
    <!-- <div class="top-bar">
    <span><i class="fa-solid fa-phone"></i>+10000000000</span>
    <h1 class="hello">
      <span>always be there</span>
      <div class="message">
        <div class="word1">Fixpoint</div>
      </div>
    </h1>
    <ul class="one">
      <li>
        <a href="#">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><span class="logo">FIX</span>POINT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Files/service.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/Files/ABOUT/aboutusss.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/Files/SUPPORT/support.html">Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Files/BLOG/blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Contact">Contact</a>
          </li>
        </ul>
        <div class="iconhead">
          <button type="button" class="btn btn-success">Sign Up</button>
        </div>
      </div>
    </div>
  </nav> -->
  <%- include('Files/PARTIALS/HEADER') %>
  
<div class="container-fluid p-0">
	<div class="row g-0">
		<div lc-helper="background" class="col-md-6 order-md-2 ps-4 d-flex" style="background-size: cover; background-position: center; background-image: url('/Files/Img/1.png') ;">
			<div class="lc-block align-self-center text-light ms-4">
				<div editable="rich">
				</div>
			</div>
		</div>
		<div class="col-md-6 order-md-1" style="padding:5vh 5vw">
			<div class="lc-block mb-5">
				<div editable="rich">

					<p ><strong style="    font-size: 24px;">
            Introduction To Automobile Sector:
            <br>
            
            </strong></p>


				</div>
			</div><!-- /lc-block -->
			<div class="lc-block text-secondary pb-4">
				<div editable="rich">
					<p>
            The fast growing pre-owned auto industry with a particular focus on an emerging economy like India, to find out what drives the pre-owned vehicles business, how and why OEMs and dealers compete in it, and they can be more successful in taking the advantage of the opportunities it offers.
            <br>
            <br>
            Developed vs emerging economy perspective has also been presented in terms of evolution, approach, current status and effect on marketing strategy to bring out the contrast for the readers.

            <br>
            <br>
            Marketing Strategy is an overall marketing approach that is used to achieve objectives of the strategic marketing plans. The mix is a bundle of variables which are offered to the customer. These include the product or service itself; its availability; its image and, of course, the price which should be charged. Thus marketing strategy denotes the combination of various elements, which in total constitutes a business’s marketing system.


            <br>

            
            </p>
				</div>
			</div>
		
		</div>
	</div>
</div>


<div class="container py-5">
	<div class="row">
		<div class="col-md-4 align-self-center">
			<div class="lc-block border-top py-4" style="letter-spacing:10px">
				<div editable="rich">
					<h2><strong>FIXPOINT </strong></h2>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="lc-block">
				<div editable="rich">

					<p><strong  style="    font-size: 24px;">Why these companies should choose FixPoint -
          </strong></p>


				</div>
			</div>
			<div class="lc-block">
				<div editable="rich">

					<p>“Fast Growing Pre owned Auto Industry & Strategic Marketing Challenges” is addressed to all marketing educators and practitioners worldwide most concerned with understanding of business in the context of emerging economies like India which are continuously growing at & above 6% GDP for the last many years. This chapter will give an insight about consumer habits, socio economic and socio cultural status of the consumers. Knowledge and insights presented through this topic and chapter are mostly going to be similar for other industries as well and thus this presents an opportunity to peek into the diverse and emerging Indian Market and discuss the challenges for organisations, business leaders & marketers who wish to make the most of fast growing economies like India.
            
            </p>


				</div>
			</div>
		</div>
	</div>
</div>
<%- include('Files/PARTIALS/footer') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js"></script>
  </body>
</html>
