<div class="top-bar">
    <span><i class="fa-solid fa-phone"></i>+91 88712 58981
    </span>
    <h1 class="hello">
      <span >always be there</span>
      <div class="message">
        <div class="word1">Fixpoint</div>
      </div>
    </h1>
    <ul class="one">
      <li>
        <a href="https://twitter.com/FixPoint14?t=iI1AautIYEtMJbU428qzHw&s=09">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/fixpoint-official/">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://instagram.com/fixpoint_india?igshid=YmMyMTA2M2Y=">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCxpxOpW5oAezZXAzuRudOxw">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/profile.php?id=100083835110191">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li>
        <a
          href="https://fixpoint.quora.com/?ch=3&oid=2886645&share=396067ef&srid=h8URNu&target_type=tribe"
        >
          <i class="fa-brands fa-quora"></i>
        </a>
      </li>
    </ul>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark ">
  
  <div class="container-fluid">
    <a class="navbar-brand " href="#"><span class="logo">Fix</span>point</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/FIXPOINTBUDDY/buddy/Washingbay/bay">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/FIXPOINTBUDDY/buddy/Washingbay/planning/planning">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/FIXPOINTBUDDY/ABOUT/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/FIXPOINTBUDDY/SUPPORT/support">Support</a>
        </li>
      </ul>
      <div class="iconhead">
      <ul class="navbar-nav sm-icons mx-auto" >
        <li>
          <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </li>
        <li>
          <a class="nav-link" href="/FIXPOINTBUDDY/buddy/Washingbay/Dashboard/dashboard"><i class="fa-solid fa-user"></i></a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  </nav>