<footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-map-marker-alt"></i>
            <div class="cta-text">
              <h4>Find us</h4>
              <a style="color: grey;" href="https://goo.gl/maps/PTXUVW6WCZuri9LP6">Bhopal, Madhya Pradesh, India</a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-phone"></i>
            <div class="cta-text">
              <h4>Call us</h4>
              <a style="color: grey;" href="tel:+91-8964859524">+91 8964859524</a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="far fa-envelope-open"></i>
            <div class="cta-text">
              <h4>Mail us</h4>
              <a style="color: grey;" href="mailto:mail@info.com">mail@info.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-5" id="Contact">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index.html"><img src="/Frame 1@2x.png" class="footerlogo" alt="logo" /></a>
            </div>
            <div class="footer-text">
              <p>
                FixPoint is an online vehicle service provider with multiple brands collaboration that provides end-to-end services for all-electric vehicles.
              </p>
            </div>
            <div class="footer-social-icon">
              <span>Follow us</span>
                  <a href="https://twitter.com/FixPoint14?t=iI1AautIYEtMJbU428qzHw&s=09">
                    <i class="fa-brands fa-twitter"></i>
                  </a>
                  <a href="https://www.linkedin.com/company/fixpoint-official/">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="https://instagram.com/fixpoint_india?igshid=YmMyMTA2M2Y=">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                  <a href="https://www.youtube.com/channel/UCxpxOpW5oAezZXAzuRudOxw">
                    <i class="fa-brands fa-youtube"></i>
                  </a>
                  <a href="https://www.facebook.com/profile.php?id=100083835110191">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                  <a href="https://fixpoint.quora.com/?ch=3&oid=2886645&share=396067ef&srid=h8URNu&target_type=tribe">
                    <i class="fa-brands fa-quora"></i>
                  </a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Useful Links</h3>
            </div>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/Files/ABOUT/aboutusss">about</a></li>
              <li><a href="/#services">services</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="/Files/BLOG/blog">Blog</a></li>
              <li><a href="#">Emergency</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Contact</h3>
            </div>
            <div class="footer-text mb-25">
              <p>Don’t miss to Contact us, kindly fill the form below.</p>
            </div>
            <div class="subscribe-form">
              <form action="/" method="post">
                <input style="outline: none;" name="email" type="text" placeholder="Email Address" />
                <button onclick="submit" ><i class="fab fa-telegram-plane"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
          <div class="copyright-text">
            <p>
              Copyright &copy; 2018, All Right Reserved
              <a href="">Fixpoint</a>
            </p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
          <div class="footer-menu">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Policy</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>

</html> 