<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/Frame 1@2x.png" />
    <title>FixPoint</title>
    <link rel="stylesheet" href="/Files/franchise/franchise.css" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>  
   
  <%- include('Files/PARTIALS/HEADER') %>
    <div class="container py-4">
      <div class="row mb-5">
        <div class="col-md-6 align-self-center">
          <div class="lc-block">
            <img class="img-fluid mx-auto d-block" src="/Files/services/imgsupport/—Pngtree—contact our telephone customer service_5412847.png" style="height:50vh">
          </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-md-6">
          <div class="lc-block">
            <div editable="rich">
    
              <h2>A representation of how the great electric franchise can expand along with the economy.</h2>
              <br>
              <p>The FixPoint franchise is a confident declaration from the brand and the employees; it demonstrates the unique status and premium claim of the FixPoint brand in everything from the architecture to the showroom.<br><br>FixPoint is aware that every industry has specific requirements. We understand there are numerous factors to take into account while managing a fleet, from comfort and duty of care to the best financing for your vehicles. Because of this, we provide you with a range of high-performance fleet options. Visit or call the nearby FixPoint dealer for additional details. - <a href="tel:+918964859524">+91-8964859524</a></p>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
      </div>
      <div class="row mt-4">
        <div class="col-md-3 col-sm-6">
          <div class="lc-block text-center">
            <div editable="rich">
              
              <h4>To Know More,</h4>
              <h5>Clink on the link below</h5>
              
              <a href="/" class="btn btn-medium btn-green">Services</a>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
      </div>
    </div>
</section>
<%- include('Files/PARTIALS/footer') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js"></script>
  </body>
</html>
