<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/Frame 1@2x.png" />
    <title>FixPoint</title>
    <link rel="stylesheet" href="/Files/individual/franchise.css" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>  
   
  <%- include('Files/PARTIALS/HEADER') %>
   

<div class="container-fluid p-0">
	<div class="row g-0">
		<div lc-helper="background" class="col-md-6 order-md-2 ps-4 d-flex" style="background-size: cover; background-position: center; background-image: url('/Files/Img/1.png') ;">
			<div class="lc-block align-self-center text-light ms-4">
				<div editable="rich">
				</div>
			</div>
		</div>
		<div class="col-md-6 order-md-1" style="padding:5vh 5vw">
			<div class="lc-block mb-5">
				<div editable="rich">

					<p ><strong style="    font-size: 24px;">

            Problem Faced by Electric Vehicle Owner - 
            <br>
            We asked people what are the biggest pain points of maintaining their two-wheelers. 
            This is what we got:
            </strong></p>


				</div>
			</div><!-- /lc-block -->
			<div class="lc-block text-secondary pb-4">
				<div editable="rich">
					<p>1. For services like Servicing & Maintenance, Legal Customization, Emergency Services, etc. The vehicle owner needs to visit different places for different services. 
            Difficulty in finding a genuine & good manachic for their Personal Electric Vehicle.
            <br>
            <br>
            2. Person Owning multiple Electric Vehicles from different brands needs to visit different places for each service and end up wasting time.
            <br>
            <br>
            3. Very few instant Emergency service providers to choose from.
            <br>
            <br>
            4. A person owning multiple Electric Vehicles currently doesn't have the privilege to track all the asked services and track them through one platform. 
            Quality and Availability.
            <br> 
            <br>
            5. Lack of transparency and Trustfactor. 
            <br>
            <br>
            6. Have to put in the effort of visiting the garage on a weekend; which is my time to sleep & relax.
            <br>
            <br>
            7. Don’t trust the quality of the mechanic and the work they do as the mechanism of Electric Vehicles is completely different from existing Petrol;/Diesel vehicles.
            Having Doubt if the garage uses good quality spares.

            </p>
				</div>
			</div>
		
		</div>
	</div>
</div>


<div class="container py-5">
	<div class="row">
		<div class="col-md-4 align-self-center">
			<div class="lc-block border-top py-4" style="letter-spacing:10px">
				<div editable="rich">
					<h2><strong>FIXPOINT </strong></h2>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="lc-block">
				<div editable="rich">

					<p><strong  style="    font-size: 24px;">We at FixPoint decided to precisely address these problems. If you are one of the consumers who have any of these problems, FixPoint will solve it!
          </strong></p>


				</div>
			</div>
			<div class="lc-block">
				<div editable="rich">

					<p>FixPoint is <strong>India's</strong>First Electric Vehicle Multi-Brand Service Provider. 
            Providing all necessary services under one umbrella through Digitalisation and Simplifying the process and standasing the market. Aiming to provide more personalised services at the same time being affordable.
            Now, a person owing single or multiple Electric Vehicles can avail FixPoint services for all their Electric Vehicles (Two Wheelers, Three Wheelers, Four Wheelers) just through one application.
            Once a vehicle owner gets into the FixPoint Ecosystem the person can also explore another dimension of vehicle customization and can bring their Projected Vehicle into reality.  
            Currently, FixPoint is scaling its franchise network to Pan INDIA for instant and affordable services. Soon, FixPoint will be launched to similar countries like INDIA.
            </p>


				</div>
			</div>
		</div>
	</div>
</div>
  <!--Question -->
  <div class="container py-5">
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="lc-block text-center mb-4">
          <div editable="rich">
            <h2 class="fw-bold">Frequently Asked Questions </h2>
          </div>
        </div>
        <div class="lc-block text-center">
          <!-- <div editable="rich">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu<br>fugiat nulla pariatur
            excepteur sint occaecat.<br>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-md-6">
        <img class="img-fluid " src="/2NDEVOWNER/2wheelbulk/IMAGES/question.jpg" alt="Photo by Tim Mossholder" style="object-fit:cover">
      </div>
      <div class="col-md-6 p-5 d-flex flex-column justify-content-center">
        <div class="accordion accordion-flush" id="accordionFlushMyFAQ1">
          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
              aria-controls="flush-collapseOne">
              Q.1 ) Are there any extra/added charges apart from the described rates? 
            </a>

            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushMyFAQ1" style="">
              <div class="accordion-body" editable="rich">Ans. Absolutely not. When you book a vehicle service, you only pay for the service you opted for. And most importantly no last minute surprises, no hidden costs.</div>
            </div>
          </div>
          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
              aria-controls="flush-collapseTwo">
              Q.2) Do I have to pay before the service?
                        </a>

            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushMyFAQ1" style="">
              <div class="accordion-body" editable="rich">Ans. FixPoint offers flexible payment options that are completely dependent upon the customer choice.</div>
            </div>
          </div>
          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
              aria-controls="flush-collapseThree">
              Q.3) How to book vehicle service with FixPoint?
            </a>

            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushMyFAQ1" style="">
              <div class="accordion-body" editable="rich">Ans. FixPoint has built a premium and user friendly application/website from where you can book service in just some clicks. 
              </div>
            </div>
          </div>
        
          

          <!-- -->

          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4" href="#" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">
              Q.4) Does FixPoint Provide Doorstep Services?
            <div id="flush-collapseFour" class="accordion-collapse collapse show" aria-labelledby="flush-headingFour"
              data-bs-parent="#accordionFlushMyFAQ1" style="">
              <div class="accordion-body " editable="rich" style="font-size:  16px; font-weight: 400;"> Ans. Yes, the Electric Vehicle owners can avail the doorstep services.

              </div>
            </div>
          </div>
          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false"
              aria-controls="flush-collapseFive">
              Q.5) Does FixPoint provide offers and discounts? 
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
              data-bs-parent="#accordionFlushMyFAQ1">
              <div class="accordion-body" editable="rich" style="font-size:  16px; font-weight: 400;">Ans. Yes Always, whenever you book a small or big service FixPoint always provides personalised amazing offers and discounts.</div>
            </div>
          </div>
          <div class="lc-block accordion-item mb-5">

            <a editable="inline" class="fw-bold text-decoration-none text-dark h4 collapsed" href="#"
              data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false"
              aria-controls="flush-collapseSix">
              Q.6) Is India the next big market for professional vehicle wash? 
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
              data-bs-parent="#accordionFlushMyFAQ1">
              <div class="accordion-body" editable="rich" style="font-size:  16px; font-weight: 400;">Ans. Professional vehicle care /vehicle wash is a significant market internationally in the developed countries. India, an emerging economy, is not far from becoming a booming market for vehicle wash.
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


  <!-- / Question end -->
<%- include('Files/PARTIALS/footer') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js"></script>
  </body>
</html>
